<launch>
    <!-- SYSTEM MODEL -->
    <!-- vehicle parameters -->
    <param name="mass" type="double" value="2000" />

    <!-- control parameters -->
    <param name="air_drag_coeff" type="double" value="0.01308" />
    <param name="friction" type="double" value="0.01711" />

    <!-- Teleoperation -->
    <node pkg ="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keyboard" output="screen"/>

    <!--Actuaion -->
    <node pkg="labs" type="relay.py" name="relay" output="screen"/>

    <!-- Simulator -->
    <node pkg="labs" type="vehicle_simulator.py" name="simulator" output="screen"/>

    <!--Visualizer -->
    <node pkg="labs" type="view_car_trajectory.py" name="visualizer" output="screen"/>

    <!-- Record the experiment data -->
    <!--node pkg="rosbag" type="record" name="rosbag_record" args="-o /home/me131/ -a" -->
</launch>
